@model MathPro.WebUI.Models.MessageViewModel

@{
    string MessageStyle = "message";
    bool IsIncoming = Convert.ToBoolean(ViewData["incoming"]);
    string showName = (IsIncoming) ? Model.SenderUserName : Model.RecipientUserName;
    string imageName = (IsIncoming) ? Model.SenderImageName : Model.RecipientImageName;
}

@if (!Model.IsRead && IsIncoming)
{
    MessageStyle = "unread-message";
}

<div class="media @MessageStyle ">
    <a class="media-left media-middle" style="padding-left: 10px;" href="@Url.Action("Index", "UserProfile", new { username = showName })">
        @if (File.Exists(Server.MapPath("~/Images/UserImages/" + @imageName)))
        {
            <img src="~/Images/UserImages/@imageName" alt="user_image" class="img-thumbnail small-user-image">
        }
        else
        {
            <img src="~/Resources/Images/user_small.png" alt="user_default_image" class="img-thumbnail small-user-image">
        }
    </a>

    <a class="media-body" href="@Url.Action("Read", "Message", new { messageId = Model.MessageId })">
        <h4 class="media-heading" style="padding-top: 10px;"> @showName </h4>
        <h4 class="text-muted"> @Model.Subject <span class="text-right"> @Model.CreatedOn</span> </h4>

        <p class="text-muted message-preview">
            @Model.Body
        </p>
    </a>
</div>

