@model MathPro.WebUI.Models.MessageViewModel

<div class="media">
    <a class="media-left" href="@Url.Action("Index", "UserProfile", new { username = Model.Sender })">
        <img src="~/Resources/Images/user_small.png" alt="user_default_image" class="img-thumbnail  small-user-image">
    </a>

    <div class="media-body">
        <h4 class="media-heading">@Model.Sender -> @Model.Recipient</h4>
        <h4 class="text-info"> @Model.Subject <span class="text-right"> @Model.Created</span> </h4>        
    </div>
    <p class="message-body">
        @Model.Body
    </p>
</div>