@model MathPro.WebUI.Models.UserAttemptsListViewModel

@{
    ViewBag.Title = "Мои попытки";
}

@Html.Partial("~/Views/Shared/_UserProfileBreadcrumbs.cshtml")

<h2>@ViewBag.Title</h2>

@if (Model.UserAttempts.Count() == 0)
{
    <div class="row">
        <div class="col-md-6">
            <div class="alert alert-info" role="alert">
                <p>Ooops! Пока ни одной попытки !</p>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
}
else
{
    using (Html.BeginForm())
    {

        <table class="table table-striped table-hover">
            <tr>
                <th>
                    @Html.ActionLink("Дата попытки", "MyAttempts", new { sortOrder = ViewBag.DateSortParam })
                </th>
                <th>
                    @Html.DisplayName("ID Задачи")
                </th>
                <th>
                    @Html.ActionLink("Результат", "MyAttempts", new { onlySuccessResult = ViewBag.OnlySuccessResult })
                </th>

                <th>
                    @Html.DisplayName("Баллы")
                </th>

            </tr>
            @foreach (var item in Model.UserAttempts)
            {
                <tr>
                    <td>
                        
                        <a href="@Url.Action("ShowAttempt", "UserAttempt", new { userAttemptId = item.UserAttemptId })">@Html.DisplayFor(modelItem => item.AttemptDateTime)</a>
                    </td>
                    <td>
                        <a href="@Url.Action("AssignmentView", "Home", new { MathAssignmentId = item.MathAssignmentId })"> @item.MathAssignmentId</a>
                    </td>
                    <td>
                        @if (item.AttemptResultSuccess)
                        {
                            <p class="text-info">success</p>
                        }
                        else
                        {
                            <p class="text-danger">fail</p>    
                        }
                        
                    </td>

                    <td>
                        @Html.DisplayName(item.Points.ToString())
                    </td>

                </tr>
            }

        </table>
    }


    <div>
        @Html.PageLinks(Model.PagingInfo, x => Url.Action("MyAttempts", new { page = x, sortOrder = ViewBag.DateSortParam, onlySuccessResult = ViewBag.OnlySuccessResult }))
    </div>
}
