@using MvcCheckBoxList.Model
@model MathPro.Domain.Entities.MathAssignment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MathAssignment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Complexity.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Complexity.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Section.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Section.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentText)
        </dt>

        <dd>
            <div id="MathOutputAssignment">$${@Html.DisplayFor(model => model.AssignmentText)}$$</div>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsForAssignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsForAssignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            <div id="MathOutputAnswer">$${@Html.DisplayFor(model => model.Answer)}$$</div>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subsections)
        </dt>
        <dd>
            @foreach (var subs in Model.Subsections)
            {
                @Html.DisplayFor(modelItem => subs.Name)
                @Html.Raw("<br>")
            }
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MathAssignmentId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
