@model IEnumerable<MathPro.Domain.Entities.MathAssignment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Complexity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Section.Name)
        </th>
        <th>
            @Html.DisplayName("Номер задачи")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PointsForAssignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subsections)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MathAssignmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsForAssignment)
            </td>
            <td>
                @foreach (var subs in item.Subsections)
                {
                    @Html.DisplayFor(modelItem => subs.Name)
                    @Html.Raw("<br><br>")
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.MathAssignmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.MathAssignmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.MathAssignmentId })
            </td>
        </tr>
    }
</table>
