<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <!--TODO: move some-->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
    </script>

    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                    <li>@Html.ActionLink("О нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Рейтинг", "Ratings", "Home")</li>
                    <li>@Html.ActionLink("Задачи", "Assignments", "Home")</li>

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
                        <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
                        <li id="TableEdit">
                            <a href="#">TableEdit</a>
                            <ul id="TableListDropDown" class="navbar-nav">
                                <li class="DropDownElement">@Html.ActionLink("Complexity", "Index", "Complexities")</li>
                                <li class="DropDownElement">@Html.ActionLink("Section", "Index", "Sections")</li>
                                <li class="DropDownElement">@Html.ActionLink("Subsection", "Index", "Subsections")</li>
                                <li class="DropDownElement">@Html.ActionLink("MathAssignment", "Index", "MathAssignments")</li>
                                <li class="DropDownElement">@Html.ActionLink("TaskComment", "Index", "TaskComments")</li>
                            </ul>
                        </li>
                    }}
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div class="row">
            <div class="col-md-10">
                @RenderBody()
            </div>
            <div class="col-md-2">
                @if (Request.IsAuthenticated)
                {
                    
                    Html.RenderAction("BriefProfile", "UserProfile");
                }
            </div>
        </div>
         
        <hr/>
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>
