@using MvcCheckBoxList.Model
@model MathPro.WebUI.Models.MathAssignmentViewModel

@{
    ViewBag.Title = "Assignments";
}

<h2>Задачи</h2>
@using (Html.BeginForm("Assignments", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td colspan="2">@Html.LabelFor(model => model.mathAssignment.SectionId, "Раздел", htmlAttributes: new {@class = "control-label col-md-2"})</td>
            <td colspan="2">@Html.LabelFor(model => model.mathAssignment.ComplexityId, "Сложность", htmlAttributes: new {@class = "control-label col-md-2"})</td>
            <td colspan="2">@Html.LabelFor(model => model.subsections, "Подразделы", htmlAttributes: new {@class = "control-label col-md-2"})</td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.mathAssignment.SectionId, new SelectList(Model.sections, "SectionId", "Name"), String.Empty)
                </div>
            </td>
            <td colspan="2">
                <div class="col-md-10">
                    @Html.DropDownListFor(m => m.mathAssignment.ComplexityId, new SelectList(Model.complexities, "ComplexityId", "Name"), String.Empty)
                </div>
            </td>
            <td colspan="2">
                <div class="col-md-10">
                    @Html.CheckBoxListFor(model => model.subsections.PostedSubsection.SubsectionIds,
                        model => model.subsections.AvailableSubsection,
                        subs => subs.SubsectionId,
                        subs => subs.Name,
                        model => model.subsections.SelectedSubsection, Position.Horizontal)

                </div>
            </td>
            <td colspan="2">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Filter" class="btn btn-default" />
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

@Html.Raw("<br>")

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.Complexity.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.Section.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.AssignmentText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.PointsForAssignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.Answer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.Subsections)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.mathAssignments)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Complexity.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssignmentText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PointsForAssignment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
        <td>
            @foreach (var subs in item.Subsections)
            {
                @Html.DisplayFor(modelItem => subs.Name)
                @Html.Raw("<br>");
            }
        </td>
    </tr>
}

</table>
