@model MathPro.WebUI.Models.MathAssignmentViewModel

@{
    ViewBag.Title = "AssignmentView";
}
<script type="text/javascript" src="../../Scripts/MathAssignmentPreview.js"></script>

<h2>Задача</h2>
@using (Html.BeginForm("AssignmentView", "Home", FormMethod.Post))
{
    <table class="table">
        @Html.HiddenFor(m => m.userAttempt.MathAssignmentId)
        <tr>
            <td colspan="12">
                <div id="MathOutputAssignment">$${@Html.DisplayFor(model => model.mathAssignment.AssignmentText)}$$</div>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                @Html.TextAreaFor(model => model.userAttempt.AssignmentAnswer, new {id = "MathInput", cols = "60", rows = "10", onkeyup = "UpdateMathAnswer(this.value)", style = "margin-top:5px"})
                @Html.HiddenFor(model => model.userAttempt.ApplicationUser.Id)
                @Html.HiddenFor(model => model.userAttempt.MathAssignmentId)
                @Html.Raw("<br> <b> Preview: </b> <br>")
                <div class="box" id="box">
                    <div id="MathOutputAnswer" class="output" style="border: 1px solid; padding: 3px; width: 50%; height: 100%; margin-top: 5px">$${}$$</div>
                </div>
                <input type="submit" value="Send" class="btn btn-default" style="margin-top: 30px; float: left;" />
            </td>
        </tr>
    </table>
}
<footer>
    <table class="table">
        <tr>
            <b><p>Write Comment: </p></b>
        </tr>
        <tr>
            @using (Html.BeginForm("CommentAdd", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(m => m.userAttempt.MathAssignmentId)
                @Html.HiddenFor(model => model.userAttempt.ApplicationUser.Id)
                @Html.HiddenFor(model => model.userAttempt.MathAssignmentId)
                @Html.TextAreaFor(model => model.taskComment.Details, new { cols = "60", rows = "10", style = "margin-top:5px" })
                <div>
                    <input type="submit" value="Comment" class="btn btn-default" style="margin-top: 30px; float: left;" />
                </div>
            }
        </tr>
        <tr>
            <td>
                <b><p>Comments: </p></b>
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var comment in Model.userAttempt.MathAssignment.TaskComments)
                {
                    <tr>
                        <td>
                            <div class="comment">
                                @Html.DisplayFor(model => comment.PostedTime)
                                @Html.Raw("<br>")
                                @Html.DisplayFor(model => comment.ApplicationUser.UserName)
                                @Html.Raw("<br>")
                                @Html.DisplayFor(model => comment.Details)
                            </div>
                        </td>
                    </tr>
                }
            </td>
        </tr>
    </table>
</footer>

