@model MathPro.WebUI.Models.MathAssignmentViewModel

@{
    ViewBag.Title = "Задача";
}
<script type="text/javascript" src="../../Scripts/MathAssignmentPreview.js"></script>

<h2>Задача</h2>
@using (Html.BeginForm("AssignmentView", "Home", FormMethod.Post))
{
    <table class="table">
        @Html.HiddenFor(m => m.userAttempt.MathAssignmentId)
        <tr>
            <td colspan="12">
                <div id="MathOutputAssignment">$${@Html.DisplayFor(model => model.mathAssignment.AssignmentText)}$$</div>
            </td>
        </tr>
        <tr>
            <td colspan="12">
                @Html.TextAreaFor(model => model.userAttempt.AssignmentAnswer, new { id = "MathInput", cols = "60", rows = "10", onkeyup = "UpdateMathAnswer(this.value)", style = "margin-top:5px", required = "required" })
                @Html.HiddenFor(model => model.userAttempt.ApplicationUser.Id)
                @Html.HiddenFor(model => model.userAttempt.MathAssignmentId)
                @Html.Raw("<br> <b> Preview: </b> <br>")
                <div class="box" id="box">
                    <div id="MathOutputAnswer" class="output" style="border: 1px solid; padding: 3px; width: 100%; height: 100%; margin-top: 5px">$${}$$</div>
                </div>
                <input type="submit" value="Послать ответ" class="btn btn-default" style="margin-top: 30px; float: left;" />
            </td>
        </tr>
    </table>
}
<footer>
    <table class="table">
        <tr>
            <b><p>Оставить комментарий: </p></b>
        </tr>
        <tr>
            @using (Html.BeginForm("CommentAdd", "Home", FormMethod.Post))
            {
                @Html.HiddenFor(model => model.userAttempt.AssignmentAnswer);
                @Html.HiddenFor(model => model.userAttempt.MathAssignmentId)
                @Html.HiddenFor(model => model.userAttempt.ApplicationUser.Id)
                @Html.HiddenFor(model => model.userAttempt.MathAssignmentId)
                @Html.TextAreaFor(model => model.taskComment.Details, new { cols = "60", rows = "10", style = "margin-top:5px", maxlength = "300", required = "required"})
                <div>
                    <input type="submit" value="Разместить комментарий" class="btn btn-default" style="margin-top: 30px; float: left;" />
                </div>
            }
        </tr>
        <tr>
            <td>
                <b><p>Комментарии: </p></b>
            </td>
        </tr>
        <tr>
            <td>
                @foreach (var comment in Model.userAttempt.MathAssignment.TaskComments)
                {
                    <tr>
                        <td>
                            <div class="media ">
                                <h4 class="text-muted"> <span class="text-right"> @Html.DisplayFor(model => comment.PostedTime)</span> </h4>
                                <div style="display: inline-block">
                                    @if (File.Exists(Server.MapPath("~/Images/UserImages/" + Html.DisplayFor(model => comment.ApplicationUser.UserImageName))))
                                    {
                                        <img src="~/Images/UserImages/@Html.DisplayFor(model => comment.ApplicationUser.UserImageName)" alt="user_image" class="img-thumbnail small-user-image" />
                                    }
                                    else
                                    {
                                        <img src="~/Resources/Images/user_small.png" alt="user_default_image" class="img-thumbnail small-user-image">
                                    }
                                </div>
                                <p class="message-body text-justify" style="horiz-align: right; display: inline-block; padding-left: 20px;">
                                    @Html.Raw(comment.Details)
                                </p>
                                <div class="media-body">
                                    <h4 class="media-heading" style="padding-top: 10px;">@Html.DisplayFor(model => comment.ApplicationUser.UserName) </h4>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </td>
        </tr>
    </table>
</footer>

