@using System.Web.Mvc.Html
@model MathPro.WebUI.Models.MathAssignmentViewModel

@{
    ViewBag.Title = "Assignments";
}

<h2>Задачи</h2>
@using (Html.BeginForm("Assignments", "Home", FormMethod.Post))
{
    <table>
        <div class="container body-content">
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.mathAssignment.SectionId, "Раздел", htmlAttributes: new { @class = "control-label col-md-3" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.mathAssignment.ComplexityId, "Сложность", htmlAttributes: new { @class = "control-label col-md-3" })
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.subsections, "Подразделы", htmlAttributes: new { @class = "control-label col-md-3" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.mathAssignment.SectionId, new SelectList(Model.sections, "SectionId", "Name"), String.Concat("--Выберете раздел--"))
                </div>
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.mathAssignment.ComplexityId, new SelectList(Model.complexities, "ComplexityId", "Name"), String.Concat("--Выберете подраздел--"), new {style = "width: 350px;"})
                </div>
                <div class="col-md-3">
                    @Html.ListBoxFor(model => model.subsections.PostedSubsection.SubsectionIds,
                        new MultiSelectList(Model.subsections.AvailableSubsection,
                            "SubsectionId", "Name",
                            Model.subsections.SelectedSubsection),
                        new
                        {
                            @class = "chosen",
                            multiple = "multiple",
                            style = "width: 350px;",
                        })
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <input type="submit" value="Применить фильтр" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </table>
}

@Html.Raw("<br>")

<table class="table" >
    <tr>
        <th colspan="8">
            @Html.DisplayName("Номер задачи")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.PointsForAssignment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.Complexity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.Section)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mathAssignment.Subsections)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.mathAssignments)
    {
        <tr class ="TableNoneBorder">
            <td colspan="8">
                @Html.DisplayFor(modelItem => item.MathAssignmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsForAssignment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complexity.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section.Name)
            </td>
            <td id="AssignmentInfoTable">
                @foreach (var subs in item.Subsections)
                {
                    @Html.Raw("<br>");
                    @Html.DisplayFor(modelItem => subs.Name)
                    @Html.Raw("<br>");
                }
            </td>
        </tr>
        <tr class="TableNoneBorder">
            <td>
                @using (Html.BeginForm("AssignmentView", "Home", FormMethod.Get))
                {
                    @Html.ActionLink("Решить", "AssignmentView", "Home", new { MathAssignmentId = item.MathAssignmentId}, null)
                }
            </td>
        </tr>
        <tr class="TableNoneBorder"> <td colspan="12" class="TableBottomBorder"></td></tr>
    }

</table>

@section Scripts {
<script type="text/javascript">
    $(".chosen").chosen({});
    $(".chosen-deselect").chosen({ allow_single_deselect: true });
    $(".chosen").chosen().change();
    $(".chosen").trigger('liszt:updated');
</script>

}