@model MathPro.WebUI.Models.UserRatingViewModel
@{
    ViewBag.Title = "Рейтинг пользователей";
}

<h2>@ViewBag.Title</h2>


<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayName("Username")
        </th>
        <th>
            @Html.ActionLink("Рейтинг", "Ratings", new { sortOrder = ViewBag.RatingSortParam })
        </th>
    </tr>
    @foreach (var item in Model.Users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
        </tr>
    }

</table>


<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Ratings", new { page = x }))
</div>